@import 'normalize'
@import '_head'

h1
	font-size 30px

canvas
	background blue

p
	color white

// box-sizing
.boxSizing
	border 10px solid black
	box-sizing border-box
	padding 10px
	width 150px




