<?xml version='1.0' encoding='utf-8'?>
<widget id="is.browser-sync-app.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Browser Sync App</name>
	<description>
		Browser sync application
	</description>
	<author email="polen@polen.is" href="http://polen.is">
		Polen Team
	</author>
	<content src="index.html" />
	<access origin="*" />
</widget>